.myself-img-right {
    max-width: 500px;
    min-width: 100px;
    background-color: teal;
}

@media (prefers-color-scheme: dark) {
    .myself-img-right {
        background-color: 'white';
    }
}

.myself-img-left {
    max-width: 500px;
    min-width: 100px;
}

.about-myself {
    border: solid 2px;
    border-radius: 20px;
    box-shadow: 0 0 25px 5px #00000022;
    overflow: hidden;
}

.about-title {
    font-family: googleSansBold;
}

.name {
    font-family: googlesansbold;
    font-size: 20px;
    color: lightseagreen;
}

.insider {
    font-family: googleSans;
}

.highlight {
    color: lightseagreen;
    font-weight: bold;
}

.skill_card {
    min-height: 120px;
    padding: 15px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.2s;
}

.skill_card:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px 5px #2020202c;
}

.skill_logo {
    border-radius: 7px;
    background-color: white;
    max-width: 100px;
    min-width: 20px;
}

.classifier {
    background-color: transparent;
    transition: 0.5s;
}

.classifier:hover {
    background-color: #00000011;
}