.footer {
    font-family: googleSans;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 50px 0;
    color: white;
}

#footerLinks {
    font-family: googleSans;
    border-radius: 5px;
    transition: 0.2s;
    padding: 0 5px;
}

#footerLinks:hover {
    background-color: #0050fcfc;
}

.head {
    font-family: googleSansBold;
    font-size: 20px;
    color: lightblue;
}